body {
  font-family: 'Times New Roman', Times, serif;
  background-color: lightgrey;
}

.navbar {
  font-family: 'Times New Roman', Times, serif;
  padding-left: 50px;
  width: 100%;
  background-color: white;
  color: deepgrey;
}

.navbar .navbar-brand {
  color: white;
  background-color: lightseagreen;
  font-weight: bold;
  float: left;
}   

.navbar-toggler {
  font-family: 'Times New Roman', Times, serif;
  color: deepgrey;
}
 
.navbar-brand:hover {
  color:black;
  background-color: lightskyblue;
  font-weight: bold;
  float: left;
}  

/*.navbar a:hover {*/
.nav-item:hover {
  color:white;
  background-color:lightskyblue;
}

.navbar a:hover {
  color:white;
  background-color:lightskyblue;
}
   
h3 {
  color: rgb(12, 173, 167);
  background-color: white;
  font-family: Lucida Grande;
  font-weight: bold;
  text-align: center;
 }
 
h4 {
  color: rgb(12, 173, 167);
  background-color: white;
  font-family: Lucida Grande; 
  font-weight: bold;
  text-align: center;
 }
 
/* img {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: fit-content;
  height: fit-content;
 }*/
 
 p {
 /*   font-family: times new roman; sans-serif;*/
  font-size: 12;
  padding-left: 10px;
  padding-right: 10px;
 }
 
 .container-fluid {
  background-color: lightgrey;
  padding-top: 20px;
} 

.row{
  background-color: lightgrey;
} 

.row .box{ 
  background-color: lightgrey;
  width: 100%;
  height: fit-content;
  /*padding-left: 20px;*/
}

.box .box {
   background-color: white;
   width: 100%;
   height: fit-content;
   padding-left: 20px;*/
   padding-top: 20px;
 }

@media screen and (max-width: 760px) {
  .navbar a {
     float: none;
     display: block;
  }
  .navbar {
    background-color: lightseagreen;
  }
  .navbar-brand {
    background-color: white;
    font-family: times new roman;
    font-weight: bold;
    color: lightseagreen;
  }

} 

  